@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@font-face {
  font-family: "coolvetica";
  src: url(/font/coolvetica\ rg.otf);
}

h1 {
  font-family: "coolvetica";
  font-size: 100px;
  font-weight: 400;
  color: #0a2ff1;
}

.imagenes {
  width: 25%;
}
#imagen-apple {
  width: 18%;
}
div {
  background-color: #eff2ff;
  width: 20%;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

h2 {
  font-size: 25px;
  font-family: "roboto";
  font-weight: 900;
  color: #0a2ff1;
}
p {
  font-size: 24px;
  font-family: "roboto";
  font-weight: 400;
  color: #04146c;
}
